/* -----------------------------------------------------------
	main stylesheet
----------------------------------------------------------- */
html {
	height: 100%;
	font-family:Arial;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background:#d2d2d2;
	
}
img{
	border:0px;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background:none;
}
/* -----------------------------------------------------------
	menu
----------------------------------------------------------- */

nav #menu-select {
  display: none;
}

#logout{text-decoration:none;position:absolute;bottom:0px;margin-bottom:5px;}

#menu li { display:inline-block; width: auto;}
#menu ul.sub { background:white!important;border:1px solid #ccc !important;border-radius:0px !important;}
#menu li.sub { display:block; width: auto;border-radius:0px !important;}

#menu{
	
	background:url(../images/bgmenu.jpg) repeat;
	text-align:center;
	vertical-align:middle;
	color:#000;
	position:fixed;
	width:100%;
	z-index:4;
	height:60px;
}
#menu-select{
	
	background:url(../images/bgmenu.jpg) repeat;
	text-align:center;
	vertical-align:middle;
	color:#000;
	position:fixed;
	width:100%;
	z-index:4;
	height:60px;
}
.menu-last{
	padding-bottom:12px;
	
}
#menu-links a{
	color:#000;
	text-shadow: 1px 1px 1px white;
	padding-top:20px;
	margin-left:30px;
	margin-right:30px;
	text-decoration:none;
	float:left;
	}
#menu-links{
	float:left;
	}
#menu-links a:hover{
	color:#575757;
	text-shadow: 1px 1px 1px black;
}
#menu-links a:visited{
	color:#44175b;
	text-shadow: 1px 1px 1px 575757;
}

#separador{
	float:left;
	padding-top:0px;
	}
	#logo{margin-top:-5px;}
#menu-l{
	width:205px;
	float:left;
	margin-top:60px;
	background:url(../images/bgmenulateral.jpg);
	}
.menu-lateral {
	width:200px;
	display:block;
	text-decoration:none;
	color:#000;
	text-shadow: 1px 1px 1px white;
	padding-top:0px;
	text-align:center;
	z-index: 99;
	position: relative;
	background:url(../images/bgmenul.jpg);
	}
	#menu-lateral{
	
	}
.icon{
	padding-top:10px;
	margin-left:15px;
	float:left;
}
.icon2{
	padding-top:5px;
	margin-left:15px;
	float:left;
}
.menu-text{
	padding-top:16px;
	height:34px;
}
.menu-text-sub{
	margin-left:5px;
	padding-top:-10px;
	float:left;
}
#menu-links img{ float:left;}
#menu-links .sub a {padding:10px;margin:0;}
#menu .ui-corner-all .ui-state-active, #menu .ui-corner-all .ui-state-focus, #menu .ui-widget-content, #menu-l .ui-corner-all .ui-state-active, #menu-l .ui-corner-all .ui-state-focus, #menu-l .ui-widget-content{
	background:transparent !important;
	border:0px !important; 
	
}

/* -----------------------------------------------------------
	conteudo
----------------------------------------------------------- */
#conteudo{
	width:100%;
	margin:0px auto;
	float:left;
	background:url(../images/mapaback.png);
	}
#conteudo-usuario{

	padding-top:60px;
	}
#rodape{
	height:20px;
}
table{
	border-spacing:0px;
	float:left;
	margin-left:10px;
}
table.cerca tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.cerca tbody td{
	border:1px solid #949494;
	}
table.device tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.device tbody td{
	border:1px solid #949494;
	}
table.comando tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.comando tbody td{
	border:1px solid #949494;
	}
table.eventos tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.eventos tbody td{
	border:1px solid #949494;
	}
table.codition tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.codition tbody td{
	border:1px solid #949494;
	}
table.veiculo tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.veiculo tbody td{
	border:1px solid #949494;
	}
table.interest tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.interest tbody td{
	border:1px solid #949494;
	}		
table.historic tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.historic tbody td{
	border:1px solid #949494;
	}
table.grupos tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.grupos tbody td{
	border:1px solid #949494;
	}
table.usuarios tbody tr:nth-child(odd){
   background:url(../images/bgtabelazebra.jpg);
}
table.usuarios tbody td{
	border:1px solid #949494;
	}
thead tr{
	height:52px;
	background:url(../images/bgtoptabela.jpg);
	
}
tbody td { 
	padding-left:10px;
	}
tbody td a{
	text-decoration:none;
	color:black;
	font-size:14px;
}
thead tr th{
	padding-left:10px;
	color:white;
	text-align:left;
}
.deviceForm{
	background: url("../images/btn_loader.png");
	padding: 20px;
}
.poiForm{
	background: url("../images/btn_loader.png");
	padding: 20px;
}
input{
	padding:10px;
	
}
select{
	padding:10px;
}
tr.linha td {
  border-bottom:1pt solid #ccc;
}
.input{float:left;}
.label{float:left;margin-top:13px;}
.labelGroup{float:left;margin-top:13px;margin-left:5px;}

/* -----------------------------------------------------------
	alert window
----------------------------------------------------------- */

#alertWindow{
	background:url(../images/btn_loader.png);
    bottom: 0px;
    display: block;
    color:#000;
    overflow:visible;
	text-shadow: 1px 1px 1px white;
	padding-top:0px;
	text-align:center;
	position:absolute;
	right:0px;
	width:360px;
}

.event_item {
 	background:url(../images/btn_loader.png);
	font-size: 12px;
	border: 0px solid #eeeeee;
	padding:10px;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
 	text-align:center;   
}


.bobble-left{
width:180px;
float:left;
padding:5px;
border-right:1px #ccc solid;
border-bottom:1px solid #ccc;
}
.bobble-right{
	width:180px;
	float:left;
	padding:5px;
	border-bottom:1px solid #ccc;
}
.sub-bobble-left{
	width:180px;
	float:left;
	padding:5px;
	border-right:1px gray solid;
	border-bottom:1px solid gray;
	background:#ccc;
}
.sub-bobble-right{
	width:180px;
	float:left;
	padding:5px;
	border-bottom:1px solid gray;
	background:#ccc;
}
.event_header {
 	background:#fff;
 	background-repeat:no-repeat;
	font-size: 20px;
	border: 0px solid #eeeeee;
	padding:10px;
 	text-align:center;   
}
/* -----------------------------------------------------------
	tela de comandos
----------------------------------------------------------- */
.comando{
	float:left;
	width:420px;
}
#output1{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
#output2{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
#output3{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
.server{
	 width: 420px;
}
#primaryIp{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
#primaryPort{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
#seconderyIp{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
#seconderyPort{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
#timeZone{
	border:0px;
}
#name{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	}
	#username{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#url{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#email{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#password{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#mobilephoneNumber{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#titulo{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	
	
	#descricao{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#placa{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#codigo{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#chip{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#cor{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#chassi{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#modelo{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	
	#enabled{
	height:20px;
	margin-bottom:15px;
	margin-top:15px;
	}
	
	#mailNotifications{
	height:20px;
	margin-bottom:15px;
	margin-top:15px;
	}
	
	#smsNotifications{
	height:20px;
	margin-bottom:15px;
	margin-top:15px;
	}
	#enabled2{
	height:20px;
	margin-bottom:15px;
	margin-top:5px;
	float:left;
	}
	.mark{
	margin-top:10px;
	}
	#autocomplete{
	width:300px;
	border:0px;
	margin-bottom:5px;
	margin-top:15px;
	}
	.cercaForm{
	margin-left:222px;
	}
	#description{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#latitude{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#longitude{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#endereco{
	display: block; 
	width:230px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#devices{
	display: block; 
	width: 307px; 
	margin-right: 10px;
	border-radius: 7px;
	height: 60px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#script{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	border-radius: 7px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#devicesevents{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#deviceType{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#spinner{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
	background:white;
	}
	#cercaSpinner{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
	background:white;
	}
	#rotaSpinner{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
	background:white;
	}
	#minutoSpinner{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	padding:10px;
	background:white;
	}
	#veiculos{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#veiculo{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#permissao{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#gruposusuarios{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#gruposdevices{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#gruposveiculos{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#gruposcercas{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#gruposevents{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#grupospois{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#eventType{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#comandoType{
	display: block; 
	width: 300px; 
	margin-left: 10px;
	height: 40px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	
	#cercas{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	height: 60px;
	font-size: 16px;
	border:0px;
	margin-bottom:5px;
	margin-top:5px;
	}
	#code{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#protocol{
	display: block; 
	width: 300px; 
	margin-right: 10px;
	margin-left:10px;
	height: 40px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#criteriastart{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin: 5px 5px 5px 6px;
	}
	#criteriaend{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#criteriadeviceid{
	display: block; 
	width: 325px; 
	margin-right: 10px;
	height: 40px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	}
	#update_button{
	float:right;
	background:url(../images/adicionar.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:24px;
	width:24px;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
	}
	#update_button4{
	float:left;
	background:url(../images/adicionar.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:24px;
	width:24px;
	margin-top:-3px;
	margin-right:5px;
	cursor:pointer;
	}
	#update_button3{
	float:right;
	background:url(../images/adicionar.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:24px;
	width:24px;
	margin-bottom:5px;
	cursor:pointer;
	}
	#update_button2{
	float:left;
	background:url(../images/adicionar.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:24px;
	width:24px;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
	}
	#geocodingButton{
	float:left;
	background:url(../images/lupa.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:36px;
	width:36px;
	margin-bottom:5px;
	margin-top:5px;
	margin-left: -45px;
	cursor:pointer;
	}
	#geocodingButton2{
	float:left;
	background:url(../images/lupa.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:36px;
	width:36px;
	margin-bottom:5px;
	margin-top:5px;
	margin-left: -63px;
	cursor:pointer;
	}
	#search_button{
	float:left;
	background:url(../images/lupa.png) no-repeat;
	border: 0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:36px;
	width:36px;
	margin-bottom:5px;
	margin-top:5px;
	margin-left: 0px;
	cursor:pointer;
	}
	#excluir_button{
	float:left;
	background:url(../images/lixo.png) no-repeat;
	border:0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:36px;
	width:36px;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
	}
	#limparButton{
	float:left;
	background:url(../images/lixo.png) no-repeat;
	border:0px;
	padding:10px;
	font-size:12px;
	color:white;
	height:36px;
	width:36px;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
	}
	.adicionar{
	margin-top:25px;
	margin-bottom:10px;
	font-size:12px;
	color:gray;
	text-decoration:none;
	font-style:italic;
	}
	.plus{
	float:left;
	margin-left:20px;
	}
	
	.enviar{
	float:left;
	}
	.menucomando{
	margin-left:10px;
	margin-bottom:10px;
	background:url(../images/btn_loader.png) repeat;
	padding-top:10px;
	}
	.caixinha{
	float:left;
	height: 70px;
	width: 170px;
	}
	
.field{
	height:55px;
}
/* -----------------------------------------------------------
	mapa
----------------------------------------------------------- */
#window p{border-top: 1px #ccc solid;padding-top:10px;}
#window{font-size:14px;}
#data{padding-top:15px;padding-left:5px;}
#btnOn{margin-top:5px;}

#map_canvas{
	
	}
#loader{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	z-index:3;
	float:left;
}
#loader2{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_eventos{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_path{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_permanencia_cerca{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_permanencia_fora_cerca{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_permanencia_rota{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_tempo_ligado{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_fora_rota{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_passagem_ponto{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_sem_posicionar{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#loader_relatorio_marcha_lenta{
	position:absolute;
	margin-left:205px;
	padding-top:28px;
	padding-left:28px;
	margin-top:144px;
	z-index:3;
	float:left;
}
#pesquisa{
	position:absolute;
	z-index:2;
	margin-top: 6px;
	right:120px;
	display:block;
}
#pesquisatext{
	border:0px;
	width:300px;
}
#lupa{
	background:url(../images/lupa2.png);
	position:absolute;
	z-index:3;
	margin-top: 6px;
	right:120px;
	height:36px;
	width:36px;	
}
.titulo{
	padding:10px;
	color:#197b30;
	font-size: 23px;
	margin-left: 213px;
	text-shadow: 1px 1px white;
}
	#caixadescript{
	border-radius: 7px;
	background:white;
	height:400px;
	width:200px;
	border: 3px solid #eeeeee;
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px #000000;
	}
	#draggable1{
	border: 3px solid #eeeeee;
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px #000000;
	padding:10px;
	border-radius: 7px;
	background:gray;
	width:270px;
	}
	#draggable2{
	border: 3px solid #eeeeee;
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px #000000;
	padding:10px;
	border-radius: 7px;
	background:gray;
	width:270px;
	}
	#draggable3{
	border: 3px solid #eeeeee;
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px #000000;
	padding:10px;
	border-radius: 7px;
	background:gray;
	width:270px;
	}
	#draggable4{
	border: 3px solid #eeeeee;
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px #000000;
	padding:10px;
	border-radius: 7px;
	background:gray;
	width:270px;
	}
	#draggable5{
	border: 3px solid #eeeeee;
	box-shadow: inset 0 0 5px black;
	-moz-box-shadow: inset 0 0 5px #000000;
	padding:10px;
	border-radius: 7px;
	background:gray;
	width:270px;
	}
	h1 { padding: .2em; margin: 0; }
#products { float:left; width: 500px; margin-right: 2em; }
#cart { width: 200px; float: left; }
/* style the list to maximize the droppable hitarea */
#cart ol { margin: 0; padding: 1em 0 1em 3em; }

/* -----------------------------------------------------------
	login
----------------------------------------------------------- */

#login{
	background:url(../images/bg_login.png);
	width:423px;
	height:351px;
	margin: 50px auto;
}
.titulo2{
	padding:20px;
	color:#197b30;
	font-size: 23px;
	margin: 0 auto;
	text-shadow: 1px 1px white;
	text-align:center;
	}
#entrar{
	background:#b8d17d;
	border:1px solid;
	cursor:pointer;
	margin-left:170px;
	margin-top:50px;
}
#usuario{
	display: block; 
	width: 280px; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin:5px 10px 5px 60px;
	font-style:italic;
	
}
.usuario{
	display: block; 
	width: 280px !important; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin:5px 10px 5px 60px;
	font-style:italic;
	
}
#senha{
	display: block; 
	width: 280px ; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:60px;
	font-style:italic;
	
}
.senha{
	display: block; 
	width: 280px !important; 
	margin-right: 10px;
	height: 20px;
	font-size: 16px;
	border: 0px solid #eeeeee;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:60px;
	font-style:italic;
	
}
#logo2{
	margin:0 auto;
	width:305px;
	margin-top:25px;
}
#powered{
	margin:0 auto;
	width:93px;
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-47px;
}

/* -----------------------------------------------------------
	paginate
----------------------------------------------------------- */

#content {width:500px;}
.pagination {list-style:none; margin:10px 0px 0px 0px; padding:0px; clear:both;}
.pagination li{float:left; margin:3px;}
.pagination li a{   display:block; padding:3px 5px; color:#fff; background-color:#9dc565; text-decoration:none;}
.pagination li a.active {border:1px solid #000; color:#000; background-color:#fff;}
.pagination li a.inactive {background-color:#eee; color:#777; border:1px solid #ccc;}

/* -----------------------------------------------------------
	drag and drop
----------------------------------------------------------- */

#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 5px 0 5px; float: left; margin-right: 10px;width:465px; }
#sortable2 select, #sortable2 input{padding:5px;margin-bottom:5px;}
    #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 210px; }
   	#colunaEsquerda{float:left;}#colunaDireita{float:right;}
   	#cart .ui-widget-content,.ui-widget-content .ui-droppable{width:300px;min-height:200px;}
   	.ui-state-highlight .ui-draggable, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
   	 background: url("images/ui-bg_inset-hard_55_ffeb80_1x100.png") repeat-x scroll 50% bottom #b8ff80;
    border: 1px solid #b8ff80 !important;
    color: #363636;
   	}
   	#sortable2 .jquery-checkbox{margin-left:5px;}
.ui-draggable{
	width:200px;
}


@media screen and (max-width:1260px) {
  nav #menu  { display: none; }
  nav #menu-select { display: inline-block; }
  input{width:100px !important;}
  select{width:100px !important;}
  nav #menu-select select{width:280px !important;} 
  #velocidade, #rpm, #posicao, #altitude ,#direcao, #panico, #bloqueio, #portaAberta , #movimento, #data{
  width:115px !important;}
  #sortable1 , #sortable2{
  width:310px !important;
  }
   #senha{
  width:280px !important;
  }
  #usuario{
  width:280px !important;
  }
}
  @media screen and (max-width:800px) {
  select{
  font-size:12px !important;
  padding:2px !important;
  }
  
  .titulo{
  font-size:16px;
  padding:1px;
  }
  #sortable2 select, #sortable2 input{
  padding:0px;
  font-size:10px;
  }
  #cart{
  width:100px;
  }
  table.deviceForm td{
  width:60px !important;
  }
   #sortable1 , #sortable2{
  width:275px !important;
  }
 .deviceForm {
  font-size:12px;
  padding:5px;
  }
  #name, #eventType, #description, #code, #chip  {
  font-size:12px;
  padding:3px;
  }
  #eventType, #name, #description{
  height:20px;
  padding:0px;
  }
  #sortable2 li{
  font-size:12px;
  padding:2px !important;
  }
  #update_button, #update_button2, #update_button3, #update_button4, #excluir_button, #limpar_button {
  width:50px!important;
  }
   #cart .ui-widget-content .cart-item, .placeholder { 
  width:80px;
  word-wrap:break-word;
  }
  #cart ol{
  width: 90px;
  padding-left:5px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  }
   #cart .ui-widget-content{
   width:100px;
   }
  td, th, td a, th a {
  padding: 0px;
  }
  thead tr{
  height:30px;
  }
  tbody td a{
  font-size:12px;
  padding: 0px;
  } 
   tbody td{
  font-size:12px;
  padding: 0px;
  margin:2px;
  } 
  #senha{
  width:280px !important;
  }
  #usuario{
  width:280px !important;
  }
  #logo2{
  margin-top:0px;
  }
  
  }
 